In [ ]:
from src.experiment import ExperimentLauncher

In [2]:
config_path = 'configuration/OzoneCrossval/'
experiment_launcher = ExperimentLauncher(config_path, save_file='results/OzoneCrossVal/results_final.csv', search_type='bayesian', iterations=25)
experiment_launcher.run()

/home/manuelj/miniconda3/envs/tf/lib/python3.8/site-packages/IPython/lib/pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
/home/manuelj/miniconda3/envs/tf/lib/python3.8/site-packages/IPython/core/formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,mean_squared_error,root_mean_squared_error,mean_absolute_error,mean_absolute_percentage_error,r2,mean_absolute_error_valid,root_mean_squared_error_valid,mean_squared_error_valid,dataset,dataset_name,...,features,selected_features,duration,history,val_loss,code,model_params_max_depth,model_params_regularization,selection_params_regularization,selection_params_residual
0,360.305137,18.981705,14.946701,5.015456e-01,0.473149,13.953056,17.623259,310.579267,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",11.647071,"[0.8306587338447571, 0.6107867956161499, 0.482...",0.302963,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
0,318.759783,17.853845,14.183470,4.085593e-01,0.527827,15.383619,19.693716,387.842431,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",14.472598,"[0.7705031037330627, 0.6176698803901672, 0.520...",0.340397,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
0,290.860823,17.054642,13.463186,3.818680e-01,0.495664,15.332940,19.565091,382.792767,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",13.453207,"[0.8301767110824585, 0.6391082406044006, 0.492...",0.306352,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
0,301.917760,17.375781,13.762736,4.100577e-01,0.581373,13.429320,16.960880,287.671450,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",14.725886,"[0.8112586736679077, 0.6242610216140747, 0.476...",0.268319,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
0,302.715626,17.398725,13.797828,3.794920e-01,0.569479,13.927726,17.546078,307.864839,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",11.584760,"[0.8510974049568176, 0.6231086850166321, 0.487...",0.300280,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,235.750986,15.354185,11.957667,1.438887e+14,0.428207,11.891727,15.351348,235.663887,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[pm10 t-18, no2 t-18, target_o3 t-17, vv t-16,...",12.699862,"[0.4429250955581665, 0.39990368485450745, 0.36...",0.310998,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False
0,228.549459,15.117852,11.525930,7.620931e-01,0.467693,11.282735,14.556683,211.897008,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[no2 t-18, target_o3 t-18, dd t-17, tmp t-17, ...",12.773182,"[0.49213969707489014, 0.39885175228118896, 0.3...",0.292292,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False
0,217.940730,14.762816,11.232141,6.690682e-01,0.575388,12.201730,15.635170,244.458545,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[vv t-18, pm10 t-18, target_o3 t-18, dd t-17, ...",12.958526,"[0.5307497382164001, 0.4292903542518616, 0.395...",0.342588,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False
0,212.753921,14.586087,11.325530,3.333863e+13,0.494519,11.173033,14.543235,211.505694,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[dd t-18, vv t-18, no2 t-18, dd t-17, tmp t-17...",12.902935,"[0.479187548160553, 0.4092559814453125, 0.3764...",0.299463,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False
0,220.621176,14.853322,11.301430,9.779515e+12,0.480608,11.045821,14.485136,209.819177,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[tmp t-18, no2 t-18, target_o3 t-18, dd t-17, ...",12.735053,"[0.49341264367103577, 0.38262298703193665, 0.3...",0.296962,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False

/home/manuelj/miniconda3/envs/tf/lib/python3.8/site-packages/IPython/lib/pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
/home/manuelj/miniconda3/envs/tf/lib/python3.8/site-packages/IPython/core/formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,mean_squared_error,root_mean_squared_error,mean_absolute_error,mean_absolute_percentage_error,r2,mean_absolute_error_valid,root_mean_squared_error_valid,mean_squared_error_valid,dataset,dataset_name,...,features,selected_features,duration,history,val_loss,code,model_params_max_depth,model_params_regularization,selection_params_regularization,selection_params_residual
0,360.305137,18.981705,14.946701,5.015456e-01,0.473149,13.953056,17.623259,310.579267,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",11.647071,"[0.8306587338447571, 0.6107867956161499, 0.482...",0.302963,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
0,318.759783,17.853845,14.183470,4.085593e-01,0.527827,15.383619,19.693716,387.842431,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",14.472598,"[0.7705031037330627, 0.6176698803901672, 0.520...",0.340397,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
0,290.860823,17.054642,13.463186,3.818680e-01,0.495664,15.332940,19.565091,382.792767,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",13.453207,"[0.8301767110824585, 0.6391082406044006, 0.492...",0.306352,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
0,301.917760,17.375781,13.762736,4.100577e-01,0.581373,13.429320,16.960880,287.671450,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",14.725886,"[0.8112586736679077, 0.6242610216140747, 0.476...",0.268319,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
0,302.715626,17.398725,13.797828,3.794920e-01,0.569479,13.927726,17.546078,307.864839,aljarafe,aljarafe,...,"[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...","[dd t-24, no2 t-24, pm10 t-24, vv t-24, tmp t-...",11.584760,"[0.8510974049568176, 0.6231086850166321, 0.487...",0.300280,50c5cffc8eb3d420304ab53b277d39ea,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,235.750986,15.354185,11.957667,1.438887e+14,0.428207,11.891727,15.351348,235.663887,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[pm10 t-18, no2 t-18, target_o3 t-17, vv t-16,...",12.699862,"[0.4429250955581665, 0.39990368485450745, 0.36...",0.310998,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False
0,228.549459,15.117852,11.525930,7.620931e-01,0.467693,11.282735,14.556683,211.897008,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[no2 t-18, target_o3 t-18, dd t-17, tmp t-17, ...",12.773182,"[0.49213969707489014, 0.39885175228118896, 0.3...",0.292292,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False
0,217.940730,14.762816,11.232141,6.690682e-01,0.575388,12.201730,15.635170,244.458545,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[vv t-18, pm10 t-18, target_o3 t-18, dd t-17, ...",12.958526,"[0.5307497382164001, 0.4292903542518616, 0.395...",0.342588,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False
0,212.753921,14.586087,11.325530,3.333863e+13,0.494519,11.173033,14.543235,211.505694,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[dd t-18, vv t-18, no2 t-18, dd t-17, tmp t-17...",12.902935,"[0.479187548160553, 0.4092559814453125, 0.3764...",0.299463,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False
0,220.621176,14.853322,11.301430,9.779515e+12,0.480608,11.045821,14.485136,209.819177,torneo,torneo,...,"[dd t-18, tmp t-18, vv t-18, pm10 t-18, no2 t-...","[tmp t-18, no2 t-18, target_o3 t-18, dd t-17, ...",12.735053,"[0.49341264367103577, 0.38262298703193665, 0.3...",0.296962,bec6a30400a0b0f0af57230cebc3b0f8,NaN,NaN,0.000283,False