In [1]:
from src.experiment import ExperimentLauncher

2023-10-14 15:05:51.366191: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-10-14 15:05:51.467906: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-10-14 15:05:51.882297: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvrtc.so.11.0: cannot open shared object file: No such file or directory
2023-10-14 15:05:51.882339: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-10-14 15:05:51.882344: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
config_path = 'configuration/OzoneCrossval/'
experiment_launcher = ExperimentLauncher(config_path, save_file='results/OzoneCrossVal/results_nn_optimizing_bs_and_lr.csv', search_type='bayesian', iterations=25)
experiment_launcher.run()

,mean_squared_error,root_mean_squared_error,mean_absolute_error,mean_absolute_percentage_error,r2,mean_absolute_error_valid,root_mean_squared_error_valid,mean_squared_error_valid,dataset,dataset_name,...,model_params_lr,model_params_type,features,selected_features,duration,history,val_loss,code,selection_params_regularization,selection_params_residual
0,360.674835,18.991441,14.800515,4.713745e-01,0.489484,14.279121,18.144391,329.218928,aljarafe,aljarafe,...,0.003093,tensorflow,"[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...","[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...",13.116056,"[0.8689157962799072, 0.6687233448028564, 0.532...",0.318311,d9de5abe597ae24247c9a04454f21ac3,NaN,NaN
0,334.840810,18.298656,14.427927,4.021512e-01,0.504963,14.921290,19.053202,363.024493,aljarafe,aljarafe,...,0.003093,tensorflow,"[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...","[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...",7.173266,"[0.8222474455833435, 0.5811060667037964, 0.454...",0.356054,d9de5abe597ae24247c9a04454f21ac3,NaN,NaN
0,307.545927,17.536987,13.558784,3.976363e-01,0.488033,14.985249,19.015533,361.590484,aljarafe,aljarafe,...,0.003093,tensorflow,"[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...","[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...",11.340274,"[0.7803460955619812, 0.5479964017868042, 0.435...",0.331527,d9de5abe597ae24247c9a04454f21ac3,NaN,NaN
0,308.707682,17.570079,13.801427,3.952292e-01,0.573617,13.197886,17.004839,289.164556,aljarafe,aljarafe,...,0.003093,tensorflow,"[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...","[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...",12.412453,"[0.7631293535232544, 0.49323269724845886, 0.37...",0.277322,d9de5abe597ae24247c9a04454f21ac3,NaN,NaN
0,313.743542,17.712807,13.947381,3.518961e-01,0.559747,13.921728,17.639483,311.151353,aljarafe,aljarafe,...,0.003093,tensorflow,"[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...","[dd t-31, no2 t-31, pm10 t-31, vv t-31, tmp t-...",10.027936,"[0.8227096199989319, 0.5582185387611389, 0.451...",0.307835,d9de5abe597ae24247c9a04454f21ac3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,203.685573,14.271845,11.039214,1.058901e+14,0.521587,11.914722,15.048800,226.466392,torneo,torneo,...,0.005907,tensorflow,"[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...","[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...",174.073338,"[0.4822402000427246, 0.3763229250907898, 0.390...",0.303884,e8d7cde95b08e15ed532f92c749b16f8,NaN,NaN
0,228.293543,15.109386,11.700700,7.630674e-01,0.472910,11.682326,14.747873,217.499745,torneo,torneo,...,0.005907,tensorflow,"[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...","[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...",156.759415,"[0.4454813599586487, 0.3532194197177887, 0.342...",0.306460,e8d7cde95b08e15ed532f92c749b16f8,NaN,NaN
0,241.736995,15.547894,11.839912,7.211021e-01,0.533734,12.046104,15.388124,236.794359,torneo,torneo,...,0.005907,tensorflow,"[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...","[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...",198.215739,"[0.5194984078407288, 0.38883501291275024, 0.37...",0.342259,e8d7cde95b08e15ed532f92c749b16f8,NaN,NaN
0,222.296972,14.909627,11.482967,3.670366e+13,0.479923,11.594695,15.178283,230.380283,torneo,torneo,...,0.005907,tensorflow,"[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...","[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...",205.475917,"[0.4722985029220581, 0.39413729310035706, 0.37...",0.325418,e8d7cde95b08e15ed532f92c749b16f8,NaN,NaN
0,235.153420,15.334713,11.846656,9.918835e+12,0.463237,11.637865,15.188972,230.704876,torneo,torneo,...,0.005907,tensorflow,"[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...","[dd t-67, tmp t-67, vv t-67, pm10 t-67, no2 t-...",187.858673,"[0.4780155420303345, 0.37046846747398376, 0.35...",0.318458,e8d7cde95b08e15ed532f92c749b16f8,NaN,NaN

{'dataset': {'name': 'torneo', 'params': {'seq_len': 68, 'pred_len': 24, 'shift': 24, 'crossval': True}}, 'selection': {'name': 'NoSelection', 'params': None}, 'model': {'name': 'lstm', 'params': {'keep_dims': False, 'layers': 1, 'units': 24, 'dropout': 0.4036956443547619, 'batch_size': 31, 'lr': 0.0017370065514576347, 'type': 'tensorflow'}}}
12/12 [==============================] - 8s 5ms/step
12/12 [==============================] - 1s 4ms/step
12/12 [==============================] - 7s 6ms/step
12/12 [==============================] - 0s 4ms/step
12/12 [==============================] - 8s 17ms/step
12/12 [==============================] - 1s 4ms/step

In [ ]:
"""config_path_residual = 'configuration/OzoneCrossvalRes/'
experiment_launcher_residual = ExperimentLauncher(config_path_residual, save_file='results/OzoneCrossVal/results_final.csv', search_type='bayesian', iterations=25)
experiment_launcher_residual.run()        """