In [1]:
from src.experiment import ExperimentLauncher

In [2]:
config_path = 'configuration/Ozone/'
experiment_launcher = ExperimentLauncher(config_path, save_file='results/Ozone/results.csv')

In [3]:
experiment_launcher.run()

,mean_squared_error,mean_absolute_error,mean_absolute_percentage_error,r2,dataset,dataset_name,dataset_params_seq_len,dataset_params_pred_len,dataset_params_shift,dataset_params_select_timesteps,...,selection_params,model_name,model_params_keep_dims,model_params_type,features,selected_features,duration,history,code,selection_params_threshold
0,250.726762,12.960896,4.321866e-01,0.266077,aljarafe,aljarafe,24,1,24,True,...,NaN,dense,False,tensorflow,"['no2 t-24', 'vv t-24', 'pm10 t-24', 'dd t-24'...","['no2 t-24', 'vv t-24', 'pm10 t-24', 'dd t-24'...",192.951698,"[0.7747099995613098, 0.6795392632484436, 0.638...",2bf3d739bcfe9cc0d226ee0abb05cc86,NaN
1,662.423122,19.946859,3.760412e+13,-0.247030,aljarafe,aljarafe,24,8,24,True,...,NaN,dense,False,tensorflow,"['no2 t-24', 'vv t-24', 'pm10 t-24', 'dd t-24'...","['no2 t-24', 'vv t-24', 'pm10 t-24', 'dd t-24'...",155.704793,"[0.8594874739646912, 0.8382289409637451, 0.760...",000ffa7c16af48e2b9904b85e6d52722,NaN
2,999.513864,25.133228,1.673336e+13,-0.614309,aljarafe,aljarafe,24,24,24,True,...,NaN,dense,False,tensorflow,"['no2 t-24', 'vv t-24', 'pm10 t-24', 'dd t-24'...","['no2 t-24', 'vv t-24', 'pm10 t-24', 'dd t-24'...",228.989256,"[0.9651003479957581, 0.882417619228363, 0.8528...",6a19cbbc3e921baf0b4dc3620d881269,NaN
3,268.424044,13.308999,5.438320e-01,0.212962,aljarafe,aljarafe,48,1,24,True,...,NaN,dense,False,tensorflow,"['no2 t-48', 'vv t-48', 'pm10 t-48', 'dd t-48'...","['no2 t-48', 'vv t-48', 'pm10 t-48', 'dd t-48'...",101.938488,"[1.248367190361023, 0.6091123223304749, 1.8436...",1374a89034008dbe140449e9513ccc2c,NaN
4,1029.669232,27.178049,7.595745e+13,-1.183803,aljarafe,aljarafe,48,8,24,True,...,NaN,dense,False,tensorflow,"['no2 t-48', 'vv t-48', 'pm10 t-48', 'dd t-48'...","['no2 t-48', 'vv t-48', 'pm10 t-48', 'dd t-48'...",209.069231,"[0.852050244808197, 0.8542375564575195, 0.9254...",a5fc820d113887ae4fa5ec3b5a63f25f,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,214.428377,12.135542,3.243805e-01,0.372442,aljarafe,aljarafe,72,1,24,True,...,NaN,cnn,True,tensorflow,"[no2 t-72, vv t-72, pm10 t-72, dd t-72, tmp t-...","[no2 t-72, dd t-72, tmp t-72, target_o3 t-72, ...",240.853639,"[0.794306218624115, 0.7684178948402405, 0.7916...",a1ce3d0a2ce8789b04a02e5b95de05dc,0.95
0,580.848845,19.242129,4.829736e+13,-0.082148,aljarafe,aljarafe,72,8,24,True,...,NaN,cnn,True,tensorflow,"[no2 t-72, vv t-72, pm10 t-72, dd t-72, tmp t-...","[target_o3 t-72, target_o3 t-71, target_o3 t-7...",246.577998,"[1.0614283084869385, 1.1305251121520996, 1.170...",faa9a4ffc138c945e2743c9f8668d179,0.50
0,699.782481,20.687424,4.786857e+13,-0.242961,aljarafe,aljarafe,72,8,24,True,...,NaN,cnn,True,tensorflow,"[no2 t-72, vv t-72, pm10 t-72, dd t-72, tmp t-...","[target_o3 t-72, target_o3 t-71, target_o3 t-7...",245.975459,"[1.0060423612594604, 1.0000680685043335, 0.968...",790b1d7446d00fc98b0d8003a9167359,0.55
0,873.083429,24.292426,8.871366e+13,-0.846311,aljarafe,aljarafe,72,8,24,True,...,NaN,cnn,True,tensorflow,"[no2 t-72, vv t-72, pm10 t-72, dd t-72, tmp t-...","[no2 t-72, target_o3 t-72, target_o3 t-71, tar...",243.952811,"[1.0635873079299927, 1.0509586334228516, 1.040...",fb57f2dcc8451ac4910124a7150fbd8f,0.60
0,775.204805,22.363756,6.000985e+13,-0.492925,aljarafe,aljarafe,72,8,24,True,...,NaN,cnn,True,tensorflow,"[no2 t-72, vv t-72, pm10 t-72, dd t-72, tmp t-...","[no2 t-72, tmp t-72, target_o3 t-72, tmp t-71,...",208.997739,"[1.0247310400009155, 1.093040108680725, 1.1976...",cb2fe1753a67e7bc82ca0ceb3cab03be,0.65

{'dataset': {'name': 'aljarafe', 'params': {'seq_len': 72, 'pred_len': 8, 'shift': 24, 'select_timesteps': True}}, 'selection': {'name': 'MutualInformation', 'params': {'threshold': 0.7000000000000002}}, 'model': {'name': 'cnn', 'params': {'keep_dims': True, 'type': 'tensorflow'}}}